<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Our_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>shraddhapiet94@poornima.org</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>sing7play</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.piet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServelet</display-name>
    <servlet-name>ControllerServelet</servlet-name>
    <servlet-class>com.ControllerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServelet</servlet-name>
    <url-pattern>/ControllerServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail</display-name>
    <servlet-name>mail</servlet-name>
    <servlet-class>com.piet.mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getmail</display-name>
    <servlet-name>getmail</servlet-name>
    <servlet-class>getmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmail</servlet-name>
    <url-pattern>/getmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailsendingServlet</display-name>
    <servlet-name>EmailsendingServlet</servlet-name>
    <servlet-class>EmailsendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailsendingServlet</servlet-name>
    <url-pattern>/EmailsendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.Email.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
</web-app>