<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>foodie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>profile.html</welcome-file>
    <welcome-file>profile.htm</welcome-file>
    <welcome-file>profile.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>existingUser</display-name>
    <servlet-name>existingUser</servlet-name>
    <servlet-class>existing.existingUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>existingUser</servlet-name>
    <url-pattern>/existingUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newUser</display-name>
    <servlet-name>newUser</servlet-name>
    <servlet-class>existing.newUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUser</servlet-name>
    <url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookedSeats</display-name>
    <servlet-name>bookedSeats</servlet-name>
    <servlet-class>existing.bookedSeats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookedSeats</servlet-name>
    <url-pattern>/bookedSeats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>existing.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendmsg</display-name>
    <servlet-name>sendmsg</servlet-name>
    <servlet-class>existing.sendmsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmsg</servlet-name>
    <url-pattern>/sendmsg</url-pattern>
  </servlet-mapping>
</web-app>